

// Note Use FontAwesome spinner instead
// @mixin spinner-keyframes ($selector, $name, $position, $duration, $steps) {
//   @keyframes #{$name} {
//     from { background-position: 0; }
//     to { background-position: $position; }
//   }

//   #{$selector} { animation: $name $duration steps($steps) infinite; }
// }
