
//
// Colors used in app (I guess could also direct inport variables from npm style guid _variables)
//
$custom1: #0d1e30;

//
// Screen Sizes
//
//TODO Double check with Bootstrap use theres prob
$s-screen-size: 321px;
$m-screen-size: 576px;
$l-screen-size: 961px;
$xl-screen-size: 1401px;

$small-screen-and-up: "only screen and (min-width: #{$s-screen-size})";
$medium-screen-and-up: "only screen and (min-width: #{$m-screen-size})";
$large-screen-and-up: "only screen and (min-width: #{$l-screen-size})";
$xlarge-screen-and-up: "only screen and (min-width: #{$xl-screen-size})";
